{% extends 'base.html' %}
{% load static %}

{% block title %}Forum Général{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        /* Custom style for icons to fill the height of their cells */
        .icon-full-height {
            height: 100%;
            font-size: 1.5em; /* Adjust this value to your preference */
        }
    </style>
</head>

<div class="container my-5">
    <h1>{{ forum.name }}</h1>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th scope="col"></th> <!-- Empty header for icons -->
                <th scope="col">Thèmes</th>
                <th scope="col">Sujet(s)</th>  <!-- Added column header -->
                <th scope="col">Réponse(s)</th>  <!-- Added column header -->
                <th scope="col">Dernière activité</th>
            </tr>
        </thead>
        <tbody>
            {% for theme in themes %}
                <tr>
                    <!-- Icon Cell -->
                    <td class="align-middle">
                        {% if theme.icon_class %}
                            <i class="{{ theme.icon_class }} icon-full-height"></i>
                        {% endif %}
                    </td>

                    <!-- Thème & Description Cell -->
                    <td>
                        <!-- Lien vers le thème -->
                        <div><a href="{% url 'general_forum_theme_detail' topic_slug=theme.slug %}">{{ theme.title }}</a></div>
                        <!-- Description en dessous du thème -->
                        <div>{{ theme.description }}</div>
                    </td>

                    <!-- Post Count Cell -->
                    <td>
                        {{ theme.post_count|default:"0" }}
                    </td>

                    <!-- Reply Count Cell -->
                    <td>
                        {{ theme.reply_count|default:"0" }}
                    </td>

                    <!-- Last Activity Cell -->
                    <td>
                        {% if theme.get_last_activity_date %}
                            Dernière activité: {{ theme.get_last_activity_date|date:"d/m/Y H:i" }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}