{% extends 'base.html' %}
{% load static %}

{% block title %}Forum Général{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'forum/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">{{ forum.name }}</h1>

    {% for theme in themes %}
    <div class="card mb-3">
        <div class="card-body d-flex justify-content-between">
            <div class="d-flex">
                {% if theme.icon_class %}
                    <div class="icon-container mr-3">
                        <i class="{{ theme.icon_class }} icon-full-height"></i>
                    </div>
                {% endif %}
                <div class="content">
                    <h5 class="card-title"><a href="{% url 'general_forum_theme_detail' topic_slug=theme.slug %}" class="stretched-link">{{ theme.title }}</a></h5>
                    <p class="card-text">{{ theme.description }}</p>
                </div>
            </div>
            <div class="stats">
                <div class="subjects d-flex align-items-center">
                    <i class="fas fa-comments icon-subject"></i>
                    <span>{{ theme.post_count|default:"0" }} Sujets</span>
                </div>
    
                <div class="replies d-flex align-items-left">
                    <i class="fas fa-reply icon-reply"></i>
                    <span>{{ theme.reply_count|default:"0" }} Réponses</span>
                </div>
    
                <div class="last-activity d-flex align-items-left">
                    {% if theme.get_last_activity_date %}
                        <i class="fas fa-clock icon-activity"></i>
                        <span>Le {{ theme.get_last_activity_date|date:"d/m/Y H:i" }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
