{% extends 'base.html' %}
{% load static %}
{% block title %}Post Details{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'forum/css/style.css' %}">
    {{ reply_form.media }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
    

<div class="container my-5">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                {% if program %}
                <li class="breadcrumb-item"><a href="{% url 'program_forum' program_slug=program.slug %}">Forum {{ program.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'forum_theme_detail' program_slug=program.slug topic_slug=topic.slug%}">{{topic.title}}</a></li>
                {% else %}
                <li class="breadcrumb-item"><a href="{% url 'general_forum' %}">Forum Général</a></li>
                <li class="breadcrumb-item"><a href="{% url 'general_forum_theme_detail' topic_slug=topic.slug %}">{{topic.title}}</a></li>
                {% endif %}
                
                <li class="breadcrumb-item" aria-current="page">{{ post.title }}</li>
            </ol>
        </nav>  
   

    <div class="d-flex justify-content-between mb-2">
        <input type="hidden" id="currentPage" value="{{ replies.number }}">
        <input type="hidden" id="totalPages" value="{{ replies.paginator.num_pages }}">

        <h5 class="card-title mb-0">{{ post.title }}</h5>

          <div class="reply-btn-container">
        <button id="showReplyForm" class="btn btn-primary">Répondre</button>
        </div>
    </div>
    
    <hr class="elegant-hr">
    <ul class="pagination">
        {% if replies.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ replies.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        <!-- Indicateur de page actuelle -->
        <li class="page-item disabled">
            <a class="page-link" href="#">Page {{ replies.number }} de {{ replies.paginator.num_pages }}</a>
        </li>

        {% if replies.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ replies.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ replies.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>   
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>

    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between">
            <div>
                <img src="{{ post.user.photo.url }}" class="rounded-circle mr-2" width="30" height="30">
                <span class="font-weight-bold">{{ post.user.user.username }}</span>
            </div>
            <div>
                <span class="text-muted">{{ post.date_posted|date:"d/m/Y H:i" }}</span>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content|safe }}</p>
             
        </div>
    </div>

    <!-- Replies -->
    <div id="repliesContainer">
        {% for reply in replies %}
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between">
                    <div>
                        <img src="{{ reply.user.photo.url }}" class="rounded-circle mr-2" width="30" height="30">
                        <span class="font-weight-bold">{{ reply.user.user.username }}</span>
                    </div>
                    <div>
                        <span class="text-muted">{{ reply.date_posted|date:"d/m/Y H:i" }}</span>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ reply.content|safe }}</p>
                    <div class="upvote-wrapper">
                        <a href="{% url 'upvote_reply' reply.id %}" 
                           class="upvote-btn {% if reply.id in user_upvoted_replies %}active-vote{% endif %}" 
                           id="upvote-btn-{{ reply.id }}" 
                           onclick="handleUpvote({{ reply.id }});">
                            <i class="fas fa-thumbs-up"></i> 
                            <span class="vote-count">{{ reply.upvote_count }}</span>
                        </a>
                    </div>
                    
                </div>                
            </div>
        {% endfor %}
    </div>

    <!-- Container for the reply form. Initially hidden -->
    <div id="replyFormContainer" style="display:none;">
        <form id="replyForm" action="{% url 'reply_to_post' post.id %}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="form-group">
                {{ reply_form.content }}                
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
</div>

<script>
    
    $('#showReplyForm').click(function() {
         // Vérifier si l'utilisateur est authentifié
        {% if not request.user.is_authenticated %}
        window.location.href = "/access-denied/" 
        return; // Sortir de la fonction
        {% endif %}
        $('#replyFormContainer').toggle();
        $('#replyForm textarea[name="content"]').val('');
        $('html, body').animate({
            scrollTop: $("#replyFormContainer").offset().top
        }, 1000);
    });

    $("#replyForm").submit(function(event) {
        event.preventDefault();

        // Si vous utilisez CKEditor
        if (typeof CKEDITOR !== 'undefined') {
            CKEDITOR.instances['id_content'].updateElement();
        }

        $.ajax({
            url: $(this).attr("action"),
            type: 'POST',
            data: $(this).serialize(),
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.error) {
                    alert(response.error);
                } else {
                    // Vérifiez si l'utilisateur est sur la dernière page
                    const currentPage = parseInt(document.getElementById('currentPage').value, 10);
                    const totalPages = parseInt(document.getElementById('totalPages').value, 10);
                    

                    if (currentPage < totalPages) {
                        // Redirigez l'utilisateur vers la dernière page
                        location.href = "?page=" + totalPages;
                    } else {
                        $("#repliesContainer").append(response.reply_html);
                        $('#replyFormContainer').hide();

                        // Réinitialiser le champ de réponse de CKEditor
                        if (typeof CKEDITOR !== 'undefined') {
                            CKEDITOR.instances['id_content'].setData('');
                        }

                        var $lastReply = $("#repliesContainer .card").last();
                        $('html, body').animate({
                            scrollTop: $lastReply.offset().top
                        }, 1000);
                    }
                    
                }
                
            },
            
        });
    });

    function handleUpvote(replyId) {
    event.preventDefault();
    
    var upvoteUrl = $('#upvote-btn-' + replyId).attr('href');
    
    $.ajax({
        url: upvoteUrl,
        type: 'POST',
        data: {
            'reply_id': replyId,
        },
        headers: {
            "X-CSRFToken": '{{ csrf_token }}'
        },
        success: function(response) {
            console.log(response);
            if (response.success) {
        // Mettre à jour le texte à côté de l'icône avec le nouveau nombre de votes
        $('#upvote-btn-' + replyId + ' .vote-count').text(response.count);

        // Mettre en surbrillance le bouton si l'utilisateur a voté
        if (response.upvoted) {
            $('#upvote-btn-' + replyId).addClass('active-vote');
        } else {
            $('#upvote-btn-' + replyId).removeClass('active-vote');
        }
    } else {
        alert('Une erreur est survenue lors de l\'upvote.');
    }
},
        error: function(jqXHR, textStatus, errorThrown) {
            // Afficher le code d'état, le message d'erreur et le contenu de la réponse
            var errorMessage = "Erreur lors de la requête AJAX. ";
            errorMessage += "Code d'état: " + jqXHR.status + ", ";
            errorMessage += "Message: " + textStatus + ", ";
            errorMessage += "Détail: " + jqXHR.responseText;

            alert(errorMessage);
        }
    });
}



</script>

{% endblock %}
