{% extends 'base.html' %}
{% load static %}

{% block title %}Forum {{ real_estate_program.name }}{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'forum/css/style.css' %}">
</head>

<div class="container my-5">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Forum {{ real_estate_program.name }}</li>
            </ol>
        </nav>
    <h1 class="text-center mb-4">Forum {{ real_estate_program.name }}</h1>

    {% for theme in themes %}
    <div class="card mb-3">
        <div class="card-body d-flex justify-content-between">
            <div class="d-flex">
                {% if theme.icon_class %}
                    <div class="icon-container mr-3">
                        <i class="{{ theme.icon_class }} icon-full-height"></i>
                    </div>
                {% endif %}
                <div class="content">
                    <h5 class="card-title">
                        <a href="{% url 'forum_theme_detail' program_slug=real_estate_program.slug topic_slug=theme.slug %}" class="stretched-link">{{ theme.title }}</a>
                    </h5>
                    <p class="card-text">{{ theme.description }}</p>
                </div>
            </div>
            <div class="stats">
                <div class="subjects d-flex align-items-center">
                    <i class="fas fa-comments icon-subject"></i>
                    <span>{{ theme.post_count_program|default:"0" }} Sujets</span>
                </div>
                <div class="replies d-flex align-items-left">
                    <i class="fas fa-reply icon-reply"></i>
                    <span>{{ theme.reply_count_program|default:"0" }} Réponses</span>
                </div>
                <div class="last-activity d-flex align-items-left">
                    {% if theme.last_activity_date %}
                        <i class="fas fa-clock icon-activity"></i>
                        <span>Dernière activité: {{ theme.last_activity_date|date:"d/m/Y H:i" }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
