
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  margin-bottom: 0;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
  width: 100%;
  height: 50px; /* Hauteur de votre footer */
}

/* Utilisation des variables pour la section héroïque */
.hero {
  background-image: url('/media/website_image/main_photo.jpg'); 
  background-attachment: fixed; 
  background-size: cover; 
  position: relative;
}

.overlay {
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  background-color: var(--hero-overlay);
}

/* Utilisation des variables pour les autres styles, exemple pour le texte */
.text-white {
  color: var(--text-on-dark-bg) !important;
}
.navbar-custom {
  background-color: var(--navbar-bg-color);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: var(--navbar-text-color);
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .nav-link:hover {
  color: var(--navbar-link-hover-color);
}


/* Styles basés sur les variables du footer */
.footer-modern {
  background-color: var(--footer-bg-color);
  padding: 8px 0; 
}

.footer-modern .footer-title {
  color: var(--footer-text-color);
  font-size: 0.9rem; 
  margin-bottom: 8px; 
}

.footer-modern a {
  color: var(--footer-link-color);
  font-size: 0.8rem; 
  transition: color 0.2s; 
  margin-right: 12px; 
  text-decoration: none; 
}

.footer-modern a:hover {
  color: var(--footer-link-hover-color);
}

.footer-modern .social-logo {
  font-size: 24px;
  margin-right: 10px; 
}

.carousel-control-prev {
  left: -10%; /* Éloigne la flèche de la gauche */
}

.carousel-control-next {
  right: -10%; /* Éloigne la flèche de la droite */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Change la couleur de fond des flèches pour les rendre plus visibles */
}
