.django-ckeditor-widget{
    width: 100%;
  }

  .elegant-hr {
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  }
  .reply-btn-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 10px; 
  }

/* Style général du bouton d'upvote */
.upvote-btn {
    text-decoration: none; 
    color: gray;  /* Couleur par défaut */
    transition: color 0.3s;  /* Animation douce lors du changement de couleur */
  }
  
  /* Lorsque l'utilisateur a voté */
  .upvote-btn.active-vote, 
  .upvote-btn.active-vote .fas, 
  .upvote-btn.active-vote .vote-count {
    color: blue;  /* Couleur lorsque l'utilisateur a voté */
  }
  


