{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'website/style.css' %}">
{% block title %}Page d'accueil{% endblock %}

{% block content %}
    <!-- Hero Section with Parallax Effect and Overlay -->
    <section class="hero d-flex align-items-center text-center py-5" style="background-image: url('/media/website_image/main_photo.jpg'); background-attachment: fixed; background-size: cover; position: relative;">
        <div class="overlay"></div>

        <div class="container position-relative">
            <h1 class="display-4 text-white">VefaConnect</h1>

             <!-- Personalized greeting -->

            {% if user.is_authenticated %}
                {% with user.userprofile.name as name %}
                    <p class="lead text-white">Bienvenue {{ name|default:user.username }} !</p>
                {% endwith %}
            {% else %}
                <p class="lead text-white">Commencez à créer des liens avec vos futurs voisins.</p>
            {% endif %}

            <form action="{% url 'program_search' %}" method="get" class="search-form mx-auto mt-4">
                <div class="input-group">
                    <input type="text" name="q" class="form-control base-size" placeholder="Trouvez votre futur chez-vous ici...">
                    <div class="input-group-append">
                        <button class="btn btn-light base-size" type="submit">
                            <span class="fas fa-search "></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    {% if user.is_authenticated %}
    <div class="container my-5">
        <p class="lead mb-4 lead-modern">Vos programmes suivis</p>
        <div class="row">
            {% for program in user_programs %}
            <div class="col-md-4 card-container">
                <div class="card h-100">
                    {% if program.image %}
                    <img src="{{ program.image.url }}" alt="{{ program.name }}" class="card-img-top">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ program.name }}</h5>
                        <p class="card-text">{{ program.description|truncatewords:15 }}</p>
                    </div>
                    <div class="card-footer mt-auto">
                        <a href="{% url 'program_detail' slug=program.slug %}" class="btn btn-details btn-primary mt-3">Détails</a>
                        <a href="{% url 'program_forum' program_slug=program.slug %}" class="btn btn-details btn-primary mt-3"> Forum</a>   
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
     <!-- Articles Carousel -->
     <div class="container my-5">
        <p class="lead mb-4 lead-modern">Restez à la pointe de l'actualité avec nos derniers articles</p>
        <div id="articlesCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
    
                {% for article in articles %}
                <!-- 1. Initialisation du groupe de carrousel -->
                {% if forloop.counter0|divisibleby:3 %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row">
                {% endif %}
    
                <!-- 2. Affichage de l'article -->
                <div class="col-md-4">
                    <div class="card h-100">
                        {% if article.main_image %}
                        <img src="{{ article.main_image.image.url }}" alt="{{ article.main_image.alt_text }}" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text"><small class="text-muted">Publié le {{ article.publication_date }}</small></p>
                            <p class="card-text">Auteur : {{ article.author.username }}</p>
                            <a href="{% url 'article_detail' category_slug=article.category.slug slug=article.slug %}" class="btn btn-primary mt-3">Lire l'article</a>
                        </div>
                    </div>
                </div>
    
                <!-- 3. Fermeture du groupe de carrousel -->
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
    
            </div>
            <a class="carousel-control-prev" href="#articlesCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#articlesCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </div>
    {% endif %}

     <!-- Programmes Immobiliers Carousel -->
<div class="container my-5">
    <p class="lead mb-4 lead-modern">Trouvez l'appartement ou la maison de vos rêves parmi nos nouveaux programmes immobiliers</p>
    <div id="realEstateProgramsCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            {% for program in realEstatesPrograms %}
            <!-- 1. Initialisation du groupe de carrousel -->
            {% if forloop.counter0|divisibleby:3 %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row">
            {% endif %}

            <!-- 2. Affichage du programme immobilier -->
            <div class="col-md-4">
                <div class="card h-100">
                    {% if program.image %}
                    <img src="{{ program.image.url }}" alt="{{ program.name }}" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ program.name }}</h5>
                        <p class="card-text">{{ program.description|truncatewords:15 }}</p>
                        <p class="card-text"><small class="text-muted">Ajouté le {{ program.date_added }}</small></p>
                        <a href="{% url 'program_detail' slug=program.slug %}" class="btn btn-primary mt-3">Voir le détail</a>
                    </div>
                </div>
            </div>

            <!-- 3. Fermeture du groupe de carrousel -->
            {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#realEstateProgramsCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#realEstateProgramsCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
</div>
{% if not user.is_authenticated %}
    <!-- Articles Carousel -->
    <div class="container my-5">
        <p class="lead mb-4 lead-modern">Restez à la pointe de l'actualité avec nos derniers articles</p>
        <div id="articlesCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
    
                {% for article in articles %}
                <!-- 1. Initialisation du groupe de carrousel -->
                {% if forloop.counter0|divisibleby:3 %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row">
                {% endif %}
    
                <!-- 2. Affichage de l'article -->
                <div class="col-md-4">
                    <div class="card h-100">
                        {% if article.main_image %}
                        <img src="{{ article.main_image.image.url }}" alt="{{ article.main_image.alt_text }}" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text"><small class="text-muted">Publié le {{ article.publication_date }}</small></p>
                            <p class="card-text">Auteur : {{ article.author.username }}</p>
                            <a href="{% url 'article_detail' category_slug=article.category.slug slug=article.slug %}" class="btn btn-primary mt-3">Lire l'article</a>
                        </div>
                    </div>
                </div>
    
                <!-- 3. Fermeture du groupe de carrousel -->
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
    
            </div>
            <a class="carousel-control-prev" href="#articlesCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#articlesCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </div>

    {% endif %}

<script>
    const placeholders = ["Recherchez un programme par ville...", "Recherchez un programme par type de bien..."];
    let index = 0;
    setInterval(() => {
        document.querySelector('.search-form input[type="text"]').placeholder = placeholders[index];
        index = (index + 1) % placeholders.length;
    }, 3000); // Change tous les 3 secondes
</script>
    
{% endblock %}




