{% extends 'base.html' %}
{% load static %}

{% block title %}Détails du programme - {{ program.name }}{% endblock %}

{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="card shadow-lg border-0 rounded-lg">
                    
                    {% if program.image %}
                    <img src="{{ program.image.url }}" class="card-img-top h-30" alt="{{ program.name }}">
                    {% endif %}
                    
                <div class="card-body">
                    <h2 class="card-title mb-4">{{ program.name }}</h2>
                    <hr>
                    <dl class="row">
                        <dt class="col-sm-4"><i class="fas fa-building mr-2"></i>Promoteur</dt>
                        <dd class="col-sm-8">{{ program.developer.name }}</dd>

                        <dt class="col-sm-4"><i class="fas fa-map-marker-alt mr-2"></i>Adresse</dt>
                        <dd class="col-sm-8">{{ program.address }}</dd>

                        <dt class="col-sm-4"><i class="fas fa-calendar-alt mr-2"></i>Date de fin de construction</dt>
                        <dd class="col-sm-8">{{ program.end_date|date:"d/m/Y" }}</dd>

                        <dt class="col-sm-4"><i class="fas fa-info-circle mr-2"></i>Description</dt>
                        <dd class="col-sm-8">{{ program.description }}</dd>
                    </dl>

                    <div class="card map-card shadow-lg border-0 rounded-lg mt-4 mt-lg-0">
                        <div id="mapid" class="card-img-top" style="height: 200px;"></div>
                    </div>

                    {% if user.is_authenticated %}
                    <hr>
                    <div class="d-flex justify-content-center">
                        {% if not program_is_followed %}
                        <a href="{% url 'program_register' program.id %}" class="btn btn-primary">
                            Suivre <span class="split-text">le programme</span>
                        </a>
                        {% endif %}
                        
                        {% if program_is_followed %}
                        <a href="{% url 'program_forum' program_slug=program.slug %}" class="btn btn-secondary">
                            Forum <span class="split-text">du programme</span>
                        </a>
                        {% endif %}
                    </div>
                    {% else %}
                    <hr>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'login' %}" class="btn btn-primary">
                            Connectez-vous <span class="split-text">pour suivre le programme</span>
                        </a>
                    </div>
                    {% endif %}
                </div>
               
            </div>
        </div>
    </div>

</div>

{% endblock %}
{% if program.address.latitude  and program.address.longitude %}
{% block extra_js %}

<script>
    var map = L.map('mapid').setView([{{ program.address.latitude }}, {{ program.address.longitude }}], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var marker = L.marker([{{ program.address.latitude }}, {{ program.address.longitude }}]).addTo(map);
    marker.bindPopup("<b>{{ program.name }}</b>").openPopup();   
</script>
{% endblock %}
{% endif %}